{% extends "layout.html" %}
{% block title %}{{ catname[0]|upper}}{{catname[1:] }} Archives{% endblock %}
{% block body %}

	<!-- Breadcrumb -->
	<div class="container">
		<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="/" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>

				<span class="breadcrumb-item f1-s-3 cl9">
					Category
				</span>

				<a href="/category/{{catname}}" class="breadcrumb-item f1-s-3 cl9">
					{{ catname[0]|upper}}{{catname[1:] }} 
				</a>
			</div>

			<form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6" action="{{url_for('result')}}">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="search" name="search" placeholder="Search">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</form>
		</div>
	</div>

	<!-- Page heading -->
	<div class="container p-t-4 p-b-40">
		<h2 class="f1-l-1 cl2" style = "text-transform:capitalize;">
			{{catname}} Archives
		</h2>
	</div>

	<!-- Post -->
	<section class="bg0 p-b-55">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-80">
					<div class="row">
						{% for post in posts %}
						{% set fname = 'images/uploads/' + post.image %}
						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item latest -->	
							<div class="m-b-45">
								<a href="/{{post.slug}}" class="wrap-pic-w hov1 trans-03">
									<img src="{{ url_for('static',filename=fname) }}" alt="IMG">
								</a>

								<div class="p-t-16">
									<h5 class="p-b-5">
										<a href="/{{post.slug}}" class="f1-m-3 cl2 hov-cl10 trans-03">
											{{post.title}} 
										</a>
									</h5>

									<span class="cl8">
									{% for aut in writers %}
									{% if post.user_id==aut.id %}
										<a href="/author/{{aut.name}}" class="f1-s-4 cl8 hov-cl10 trans-03">
											by {{aut.name}}
										</a>
									{% endif %}
									{% endfor %}

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											{{post.date_pub.strftime('%d %B, %Y')}}
										</span>
									</span>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

					<!-- Pagination -->
						<div>
						<a href="{{prev}}" class="btn btn-success btn-lg btn-radius float-left">&larr; Previous</a>
						<a href="{{next}}" class="btn btn-success btn-lg btn-radius float-right">Next &rarr;</a>
					</div>
				</div>

				<div class="col-md-10 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">
						<!-- Most Popular -->
						<div class="p-b-23">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Most Popular
								</h3>
							</div>

							<ul class="p-t-35">
								{% if views[0:1] %}
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										1
									</div>
									{% for post in views[0:1] %}
									<a href="/{{post.slug}}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										{{post.title}}
									</a>
									{% endfor %}
								</li>
								{% endif %}
								{% if views[1:2] %}
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										2
									</div>

									{% for post in views[1:2] %}
									<a href="/{{post.slug}}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										{{post.title}}
									</a>
									{% endfor %}
								</li>
								{% endif %}
								{% if views[2:3] %}
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										3
									</div>

									{% for post in views[2:3] %}
									<a href="/{{post.slug}}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										{{post.title}}
									</a>
									{% endfor %}
								</li>
								{% endif %}
								{% if views[3:4] %}
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										4
									</div>

									{% for post in views[3:4] %}
									<a href="/{{post.slug}}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										{{post.title}}
									</a>
									{% endfor %}
								</li>
								{% endif %}
								{% if views[4:5] %}
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0">
										5
									</div>

									{% for post in views[4:5] %}
									<a href="/{{post.slug}}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										{{post.title}}
									</a>
									{% endfor %}
								</li>
								{% endif %}
							</ul>
						</div>

						<!--  -->
						<div class="flex-c-s p-b-50">
							<a href="{{params['sidebar_ad_url']}}" target="_blank">
								<img class="max-w-full" src="{{url_for('static',filename='images/banner-02.jpg')}}" alt="IMG">
							</a>
						</div>
						
						<!-- Tag -->
						<div>
							<div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Tags
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">
								{% if categories %}
								{% for cat in categories[:11] %}
								<a href="/category/{{cat.name}}" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									{{cat.name}}
								</a>
								{% endfor %}
								{% else %}
								No categories Available
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}