{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block body %}

	<!-- Breadcrumb -->
	<div class="container">
		<div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="/" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>

				<span class="breadcrumb-item f1-s-3 cl9">
					Contact Us
				</span>
			</div>
		</div>
	</div>



	<!-- Page heading -->
	<div class="container p-t-4 p-b-40">


{% with messages = get_flashed_messages() %}
  {% if messages %}
   <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {% for message in messages %}
    <strong>Success!</strong> {{ message }} 
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}


	<h2 class="f1-l-1 cl2">
			Contact Us
		</h2>
	</div>

	<!-- Content -->
	<section class="bg0 p-b-60">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">
						<form action="/contact" method="post">
							<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Name*" required>

							<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="email" name="email" placeholder="Email*" required>

							<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="url" name="website" placeholder="Website">

							<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="message" placeholder="Your Message" required></textarea>

							<button class="size-a-20 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20">
								Send
							</button>
						</form>
					</div>
				</div>
				
				<!-- Sidebar -->
				<div class="col-md-5 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">
						<!-- Popular Posts -->
						<div>
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Do Check It Out!
								</h3>
							</div>

							<ul class="p-t-35">
							{% if posts %}

							{% for post in views[-3:] %}
							{% set fname = 'images/uploads/' + post.image %}
								<li class="flex-wr-sb-s p-b-30">
									<a href="{{post.slug}}" class="size-w-10 wrap-pic-w hov1 trans-03">
										<img src={{url_for('static',filename=fname)}} alt="IMG">
									</a>

									<div class="size-w-11">
										<h6 class="p-b-4">
											<a href="{{post.slug}}" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{post.title}}
											</a>
										</h6>

										{% for cat in categories %}
    									{% if post.category_id==cat.id %}
										<span class="cl8 txt-center p-b-24">
											<a href="/category/{{cat.name}}" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{cat.name}}
											</a>
										{% endif %}
										{% endfor %}

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{post.date_pub.strftime('%d %B, %Y')}}
											</span>
										</span>
									</div>
								</li>
								{% endfor %}
							{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}