{% extends "user/layout.html" %}
{% block title %}Manage Post{% endblock %}
{% block body %}

     <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/user/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-thumb-tack"></i>
            <span>Posts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{url_for('user_all_posts')}}"><i class="fa fa-circle-o text-red"></i> All Posts</a></li>
            <li><a href="{{url_for('user_add_post')}}"><i class="fa fa-circle-o text-yellow"></i> Add New</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/user/mail/compose"><i class="fa fa-circle-o text-red"></i> Compose</a></li>
            <li><a href="/user/mail/inbox"><i class="fa fa-circle-o text-yellow"></i> Inbox</a></li>
            <li><a href="/user/mail/sent"><i class="fa fa-circle-o text-aqua"></i> Sent</a></li>
          </ul>
        </li>

         <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i> <span>Profile</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/user/profile"><i class="fa fa-circle-o text-red"></i> Profile</a></li>

            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o text-yellow"></i> Options
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/user/profile-edit"><i class="fa fa-circle-o text-red"></i> Edit Profile</a></li>
                <li><a href="/user/change-password"><i class="fa fa-circle-o text-yellow"></i> Change Password</a></li>
                <li><a href="/user/two-step-verification"><i class="fa fa-circle-o text-aqua"></i> Two Step Verification</a></li>
                <li><a href="/user/dark-mode"><i class="fa fa-circle-o text-maroon"></i> Dark Mode</a></li>
              </ul>
            </li>
            <li><a href="/logout"><i class="fa fa-circle-o text-aqua"></i> Logout</a></li>
          </ul>
        </li>

        <li>
          <a href="/user/api">
            <i class="fa fa-book"></i> <span>API</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->


        <section class="content-header">
      <h1>
        Manage Post
        <small>Manage Posts</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/user/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/user/all-posts">Posts</a></li>
        <li class="active">Manage Post</li>
      </ol>
    </section>


    <section class="content">

      
{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-check"></i> Success!</h4>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

      
{% with messages = get_flashed_messages(category_filter=["warning"]) %}
  {% if messages %}
    <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-warning"></i> Warning!</h4>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}   

      
{% with messages = get_flashed_messages(category_filter=["danger"]) %}
  {% if messages %}
    <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
      



          <div class="box box-success">
            <div class="box-header with-border">
              <i class="fa fa-edit"></i>
              <h3 class="box-title">Manage Post</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/user/update-post/{{posts.id}}" method="POST" enctype="multipart/form-data">
              <div class="box-body">
                <div class="form-group">
                  <label for="posttitle">Title</label>
                  <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                  </div>
                  <input type="text" class="form-control" id="posttitle" name="posttitle" value="{{posts.title}}" required>
                </div>
              </div>
                <div class="form-group">
                  <label for="postslug">Slug</label>
                  <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-rocket"></i>
                  </div>
                  <input type="text" class="form-control" id="postslug" name="postslug" value="{{posts.slug}}" pattern="^[a-z0-9]+(?:-[a-z0-9]+)*$" title="Must be a proper URL format" required>
                </div>
              </div>
                <div class="form-group">
                  <label>Content</label>
                  <textarea class="form-control" name="postbody">{{posts.body}}</textarea>
                </div>
                <div class="form-group">
                  <label>Category</label>
                  <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-tags"></i>
                  </div>
                  <select class="form-control" name="postcategory" required>
                    {% for cat in categories %}
                    {% if cat.id==posts.category_id %}
                    {% set mycat=cat.name %}
                    <option disabled="disabled" selected="selected">{{mycat}}</option>
                    {% endif %}
                    {% endfor %}
                    {% for cat in categories %}
                    <option>{{cat.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                </div>
                <div class="form-group">
                  <label for="myfile">Update Image</label>
                  <input type="file" id="myfile" name="myfile" accept="image/*">
                  <p class="help-block">Update the Image for the Thumbnail.</p>
                </div>
                <div class="form-group">
                  <label for="posttitle">Image Selected</label>
                  <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-image"></i>
                  </div>
                  <input type="text" class="form-control" id="postimage" name="postimage" value="{{posts.image}}" disabled>
                </div>
              </div>
                <div class="form-group">
                  <label for="author">Author</label>
                  <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="author" value="{{user.name}}" readonly="true" disabled>
                </div>
              </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="button" class="btn btn-success pull-right margin" data-toggle="modal" data-target="#modal-success">Update</button>




        <div class="modal modal-success fade" id="modal-success">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you want to update this Post?</h4>
              </div>
              <div class="modal-body">
                <p>This Post will be updated after this action.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline">Update</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
                </form>

                <form action="/user/publish-request/{{posts.id}}" method="POST">
                  <button type="button" class="btn btn-danger pull-right margin" data-toggle="modal" data-target="#modal-danger">Send to Publish</button>


                          <div class="modal modal-danger fade" id="modal-danger">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you want to send Request to Admins to Publish this Post?</h4>
              </div>
              <div class="modal-body">
                <p>This Post must be ready to Publish and Editing will be Disabled for this Post.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline">Request to Publish</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


                </form>
              </div>
            


          </div>
          <!-- /.box -->



</section>







        <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}