{% extends "user/layout.html" %}
{% block title %}User Profile{% endblock %}
{% block body %}

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/user/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-thumb-tack"></i>
            <span>Posts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{url_for('user_all_posts')}}"><i class="fa fa-circle-o text-red"></i> All Posts</a></li>
            <li><a href="{{url_for('user_add_post')}}"><i class="fa fa-circle-o text-yellow"></i> Add New</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/user/mail/compose"><i class="fa fa-circle-o text-red"></i> Compose</a></li>
            <li><a href="/user/mail/inbox"><i class="fa fa-circle-o text-yellow"></i> Inbox</a></li>
            <li><a href="/user/mail/sent"><i class="fa fa-circle-o text-aqua"></i> Sent</a></li>
          </ul>
        </li>

         <li class="treeview active">
          <a href="#">
            <i class="fa fa-user"></i> <span>Profile</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/user/profile"><i class="fa fa-circle-o text-red"></i> Profile</a></li>

            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o text-yellow"></i> Options
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/user/profile-edit"><i class="fa fa-circle-o text-red"></i> Edit Profile</a></li>
                <li><a href="/user/change-password"><i class="fa fa-circle-o text-yellow"></i> Change Password</a></li>
                <li><a href="/user/two-step-verification"><i class="fa fa-circle-o text-aqua"></i> Two Step Verification</a></li>
                <li><a href="/user/dark-mode"><i class="fa fa-circle-o text-maroon"></i> Dark Mode</a></li>
              </ul>
            </li>
            <li><a href="/logout"><i class="fa fa-circle-o text-aqua"></i> Logout</a></li>
          </ul>
        </li>

        <li>
          <a href="/user/api">
            <i class="fa fa-book"></i> <span>API</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->


  <section class="content-header">
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="/user/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li class="active">User profile</li>
      </ol>
    </section>


    <section class="content">


      
{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-check"></i> Success!</h4>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

      
{% with messages = get_flashed_messages(category_filter=["warning"]) %}
  {% if messages %}
    <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-warning"></i> Warning!</h4>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}   

      
{% with messages = get_flashed_messages(category_filter=["danger"]) %}
  {% if messages %}
    <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
               
          

          <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-success">
            <div class="box-body box-profile">
              {% set fname = 'images/userdp/' + user.profile %}
              <img class="profile-user-img img-responsive img-circle" src="{{url_for('static',filename=fname)}}" alt="User profile picture">

              <h3 class="profile-username text-center">{{user.name}}</h3>

              <p class="text-muted text-center">User</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>No. of Posts</b> <a class="pull-right">{{no_of_posts}}</a>
                </li>
                <li class="list-group-item">
                  <b>Joined on</b> <a class="pull-right">{{user.date.strftime('%B %Y')}}</a>
                </li>
              </ul>

              <a href="/author/{{user.username}}" class="btn bg-maroon btn-block" target="_blank"><b>My Posts</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#settings" data-toggle="tab">Profile</a></li>
              <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
            </ul>
            <div class="tab-content">

              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                          ALL POSTS
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->

                  {% for post in posts[0:20] %}

                  <li>
                    <i class="fa fa-thumb-tack bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{post.date_pub.strftime('%d %B, %Y')}}</span>

                      <h3 class="timeline-header no-border"><a href="/{{post.slug}}" target="_blank">{{post.title}}</a></h3>
                    </div>
                  </li>

                  {% endfor %}
                  <!-- END timeline item -->
                  <!-- timeline item -->


                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
              </div>
              <!-- /.tab-pane -->

              <div class="active tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" value="{{user.name}}" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputUsername" value="{{user.username}}" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" value="{{user.email}}" readonly disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">

                    </div>
                  </div>
                  <div class="form-group">

                    <div class="col-sm-offset-2 col-sm-10">
                      <a href="/user/profile-edit"><button type="button" class="btn bg-orange">Edit</button></a>
                      <a href="/user/two-step-verification"><button type="button" class="btn bg-green margin">Two-Step Verification</button></a>
                      <a href="/user/dark-mode"><button type="button" class="btn bg-black">Dark Mode</button></a>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



</section>







        <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock %}